<div class="card_product">
    <h1 class="zag">Красная икра ососевая "Макаров" в стеклянной банке 55г.</h1>
    <div class="content_slider">
        <div class="content_big_img">
            <img src="{{full_image}}" alt="">
        </div>
        <div class="content_sm_img">
            <carousel  interval="myInterval" >
                <slide ng-repeat="slide in slides track by $index" active="slide.active">
                    <div class="content_sm_img_hidden">
                        <ul>
                            <li ng-repeat="image in slide.images track by $index">
                                <a ng-click="set_image($index)" href=""><img src="{{image}}" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
    <div class="desc">
        <div class="description">
            <div class="head">
                <p class="">В наличии</p>
                <div class="stars-container">
                    <div>
                        Оцените
                    </div>
                    <div class="stars">
                        <ul>
                            <li><a class="active" href=""></a></li>
                            <li><a class="active"  href=""></a></li>
                            <li><a class="active"  href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <span class="count">(4)</span>
                </div>
            </div>
            <div class="cont">
                <p>Место добычи<span>регион "Мурманск"</span></p>
                <p>Упаковка<span>штучный товар</span></p>
                <p>Штук в упаковке<span>8 штук</span></p>
                <p class="price">Цена<span>220 руб</span></p>
                <p class="num">Количество<span><button class="prev"></button><input type="text" mame="number" placeholder="1"><button class="next"></button></span></p>
            </div>

        </div>

        <div class="bsk">                
            <a href="#/home" class="btnbask" title="В корзину">В корзину</a>


            <a href="#/home" class="btnbpok" title="Быстрая покупка">Быстрая покупка</a>
        </div>
        <div class="clearfix"></div>

        <div class="pod">
            <a href="#/home">Поделится</a>
        </div>

        <div class="header_upper_sn">
            <ul>
                <li><a href="#/home" class="header_snvk" title="ВКонтакте"></a></li>
                <li><a href="#/home" class="header_sntw" title="Твиттер"></a></li>
                <li><a href="#/home" class="header_snfb" title="Фейсбук"></a></li>
                <li><a href="#/home" class="header_snok" title="Одноклассники"></a></li>
                <li><a href="#/home" class="header_sngp" title="Google Plus"></a></li>
                <li><a href="#/home" class="header_snyt" title="Youtube"></a></li>
                <li><a href="#/home" class="header_snin" title="Инстаграм"></a></li>
            </ul>
        </div>

    </div>
    <div class="clearfix"></div>
    <br><br>
    <div class="tabs">
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1" title="Описание">Описание</label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2" title="Рецепты">Рецепты</label>

        <input id="tab3" type="radio" name="tabs">
        <label for="tab3" title="Отзывы">Отзывы (14)/Добавить отзыв</label>


        <section id="content1">
            <p>
                Экскурсия по крепости Вышеград и подземным казематам На вершине скалистого холма, что на берегу Влтавы, расположен Вышеград – старейший район нашей столицы. Наша компания приглашает вас на удивительную и незабываемую экскурсию по крепости Вышеград, в рамках которой мы посетим и знаменитые казематы

                Экскурсия по крепости Вышеград и подземным казематам  На вершине скалистого холма, что на берегу Влтавы, расположен Вышеград – старейший район нашей столицы. По легенде, основателем Вышеграда – будущей Праги – был Крок, сын праотца Чеха. Крепость Вышеград впоследствии стала резиденцией первых князей Чехии. Здесь же проживали княжна Либуше и Пржемысл, ее муж-пахарь из села Стадице.  

                В начале XII века обосновались князья Пржемысловичи, во время их правления была построена базилика святых Петра и Павла в Вышеграде, большой каменный дворец в романском стиле и основан капитул, напрямую подчиненный Папе Римскому.  MegaTour приглашает на экскурсию в Вышеград  Наша компания приглашает вас на удивительную и незабываемую экскурсию по крепости Вышеград, в рамках которой мы посетим и знаменитые вышеградские казематы. Они были заложены императором Фердинандом III еще при строительстве крепости. Расширение всех фортификационных сооружений, в том числе и казематов, пришлось на середину XVIII века, когда Прагу захватили французы.

                Длинные и узкие коридоры казематов способны впечатлить самое искушенное воображение. Здесь вы увидите ниши, где хранились оружие и боеприпасы, а также более просторные помещения – для солдат. Когда в 1744 году прусские войска оставили Прагу, вышеградскую крепость вместе с казематами чуть было не разрушили до основания. Но этого не случилось благодаря нескольким отчаянно храбрым пражанам, обезвредившим оставленное солдатами зажигательное устройство. Иначе взорвались бы все пороховые погреба в казематах.
            </p>
        </section>  
        <section id="content2">
            <p>

            </p>
        </section> 
        <section id="content3">
            <div class="testimonials-box"> 
                <div class="avatar"><img src="img/avatar.png" height="70" width="70" alt="">
                </div>

                <form action="">
                    <div>
                        <div class="name">
                            <input id="testim-rev-name" type="text" placeholder="Ваше имя: ">
                        </div>
                        <div class="email">
                            <input id="testim-rev-email" type="text" placeholder="Ваш email: ">
                        </div>
                        <div class="login"><a href="#">Войти</a></div>
                    </div>
                    <div class="clear"></div>

                    <textarea placeholder="Ваш комментарий: " name="rev-msg" id="testim-rev-msg" cols="78" rows="3"></textarea>
                    <div class="header_upper_sn">
                        <ul>
                            <li>
                                <a href="#" class="header_snvk" title="ВКонтакте"></a>
                            </li>
                            <li>
                                <a href="#" class="header_sntw" title="Твиттер"></a>
                            </li>
                            <li>
                                <a href="#" class="header_snfb" title="Фейсбук"></a>
                            </li>
                            <li>
                                <a href="#" class="header_snok" title="Одноклассники"></a>
                            </li>
                            <li>
                                <a href="#" class="header_sngp" title="Google Plus"></a>
                            </li>
                            <li>
                                <a href="#" class="header_snyt" title="Youtube"></a>
                            </li>
                            <li>
                                <a href="#" class="header_snin" title="Инстаграм"></a>
                            </li>
                        </ul>
                    </div>
                    <p><input class="add" type="submit" value="Добавить"></p>
                </form>
                <div class="clearfix"></div>
                <div class="comment">
                    <div class="avatar"><img src="img/avatar.png" height="70" width="70" alt=""></div>
                    <div class="msg-block">

                        <h2>Сергей</h2><span class="date">16.07.2014 &nbsp; 13:45</span>
                        <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque edae ipsa, saepe ratione suscipit possimus, magnam velit laboriosam magni odio eos hic, incidunt aut corporis vero numquam. Placeat.</p>
                        <div class="clearfix"></div>
                        <p class="reply"><a href="#">Ответить</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="comment">
                    <div class="avatar"><img src="img/avatar.png" height="70" width="70" alt=""></div>
                    <div class="msg-block">

                        <h2>Сергей</h2><span class="date">16.07.2014 &nbsp; 13:45</span>
                        <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque edae ipsa, saepe ratione suscipit possimus, magnam velit laboriosam magni odio eos hic, incidunt aut corporis vero numquam. Placeat.</p>
                        <div class="clearfix"></div>
                        <p class="reply"><a href="#">Ответить</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clear"></div>
        </section> 
        <div class="clear"></div>

    </div>

</div>