<div class="catalog">
    <div class="">
        <div class="title">Красная икра</div>
        <div ng-repeat="item in items" class="pull-left">
            <div  class="box">
                <a href="#/item">
                    <div class="tabitem_image">
                        <img src="img/goods/caviar1_123x87.jpg">
                    </div>
                    <div class="tabitem_desc">
                        <p>Икра по Сканднавски донных пород 30гр.</p>
                    </div>
                    <div class="tabitem_price">
                        <p>160 руб.</p>
                    </div>
                </a>
                <div class="tabitem_cart">
                    <a href="#/basket" title="В корзину">В корзину</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="">
        <div class="">
            <div class="block_recl">

            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="">
        <div ng-repeat="item in items2" class="pull-left">
            <div  class="box">
                <a href="#/item">
                    <div class="tabitem_image">
                        <img src="img/goods/caviar1_123x87.jpg">
                    </div>
                    <div class="tabitem_desc">
                        <p>Икра по Сканднавски донных пород 30гр.</p>
                    </div>
                    <div class="tabitem_price">
                        <p>160 руб.</p>
                    </div>
                </a>
                <div class="tabitem_cart">
                    <a href="#/basket" title="В корзину">В корзину</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>



</div>