<div class="home_page">
    <div class="row">
        <div class="col-md-12">
            <infomodul></infomodul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <minimodul modul="product_day"></minimodul>
        </div>
        <div class="col-md-6">
            <minimodul modul="news"></minimodul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <minimodul modul="video"></minimodul>
        </div>
        <div class="col-md-6">
            <minimodul modul="last_reviews"></minimodul>
        </div>
    </div>
</div>