<div class="modul_form_order">
    <div class="myconteiner">
        <div class="title">
            Оформление заказа
        </div>
        <form action="">
            <div class="type">
                <div class="pull-left">
                    <span class="lable">
                        Тип плательщика
                    </span>
                </div>
                <div class="pull-left">
                    <span class="vid">
                        <div class="pull-left">
                            <input id="fiz1" type="radio" class="radio" name="type_buyer">
                            <label class="radio_vid" for="fiz1">
                                <span></span>
                            </label>
                        </div>
                        <div class="pull-left">
                            <span for="fiz" class="lable">Физическое лицо</span>
                        </div>

                    </span>
                </div>
                <div class="pull-left">
                    <span class="vid">
                        <div class="pull-left">
                            <input id="fiz2" type="radio" class="radio" name="type_buyer">
                            <label class="radio_vid" for="fiz2">
                                <span></span>
                            </label>
                        </div>
                        <span class="lable">Юридическое лицо</span>
                    </span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="info">
                <span class="lable_title">
                    Информация о покупателе
                </span>
                <hr>
            </div>
            <div class="input_grope_info">
                <p>
                    <label class="lable">Ф.И.О. <span class="req">*</span></label>
                    <input type="text">
                </p>
                <p>
                    <label class="lable">E-Mail <span class="req">*</span></label>
                    <input type="text">
                </p>
                <p>
                    <label class="lable">Телефон <span class="req">*</span></label>
                    <input type="text">
                </p>
                <p>
                    <label class="lable">Дополнительный телефон</label>
                    <input type="text">
                </p>
                <p>
                    <label class="lable">Адрес доставки <span class="req">*</span></label>
                    <input type="text">
                </p>

            </div>
            <div class="payment_metod">
                <span class="lable_title"> Платежная система </span>
                <hr>
                <div class="radio_buttons_groupe">
                    <div class="label_groupe">
                        <span class="label_img"></span>
                        <span class="label_img"></span>
                        <span class="label_img"></span>
                        <span class="label_img"></span>
                        <span class="label_img"></span>
                        <span class="label_img"></span>
                        <span class="label_img"></span>
                    </div>
                    <div class="input_groupe">
                        <div class="radio_button">
                            <input type="radio" name="payment_metod" class="radio">
                        </div>
                        <div class="radio_button">
                            <input type="radio" name="payment_metod" class="radio">
                        </div> 
                        <div class="radio_button">
                            <input type="radio" name="payment_metod" class="radio">
                        </div>
                        <div class="radio_button">
                            <input type="radio" name="payment_metod" class="radio">
                        </div>
                        <div class="radio_button">
                            <input type="radio" name="payment_metod" class="radio">
                        </div>
                        <div class="radio_button">
                            <input type="radio" name="payment_metod" class="radio">
                        </div>
                        <div class="radio_button">
                            <input type="radio" name="payment_metod" class="radio">
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment">
                <span class="lable_title"> Коментарий к заказу </span>
                <hr>
                <textarea name="comment" id="" cols="" rows="4"></textarea>
            </div>
        </form>
        <div>
            <div class="info_order">
                <p>Товаров на:     <b>1600 руб.</b></p>
                <p>Скидка <span class="orange">3%</span></p>
                <p>В том числе НДС:     <span>   0 руб.</span></p>
                <p>Итого: <span class="orange">  1570 руб.</span></p>
                <p><button>Оформить заказ</button></p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>